<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head data-th-fragment="header">
    <meta charset="utf-8"/>
    <title data-th-text="#{users.list.page.title}">Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:replace="users/_table :: table"/>
    <a name="createUserButton" class="btn btn-success" href="#" data-th-href="@{/user/create}" data-th-text="#{users.list.create.label}">Create user</a>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>