<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My 5e7en</title>

    <div th:replace="fragments/header :: header-css">
        <link rel="stylesheet" type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
    </div>

</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <div data-th-object="${user}">
        <div th:replace="users/_view :: view"/>
    </div>

    <div th:replace="reports/_table :: table"/>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>